[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=diego
WorkingDirectory=/home/diego/sites/DOMAIN/
EnvironmentFile=/home/diego/sites/DOMAIN/.env
ExecStart=/home/diego/sites/DOMAIN/virtualenv/bin/gunicorn \
	--bind unix:/tmp/DOMAIN.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target


